@import url("https://www.nosiphus.com/css/fontstyles.css");

body {
background-color: #001E66;
}

*{
  font-family: "Quicksand";
}

p {
	color: #008CFF;
	text-align: center;
	font-size: 20px;
	line-height:28px;
}

.column:left {
	float: left;
	width: 15%;
}

.column:center {
	float: left;
	width: 70%;
}

.colum:right {
	float: left;
	width: 15%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}